#game {
  width: 1000px;
  height: 1000px;
}

#game-canvas {
  width: 1000px;
  height: 1000px;
}

#header {
  display: inline-block;
}

p {
  display: inline-block;
}

#star {
  width: 20px;
  height: 20px;
  display: inline-block;
}
